In [ ]:
"""
Input:
+-----+------+
|value|marker|
+-----+------+
|    1|     A|
|    2|     A|
|    3|     A|
|    4|     A|
|    5|     A|
|    6|     A|
|    7|     A|
|    8|     A|
|    9|     A|
|   10|     A|
|   11|     B|
|   12|     B|
|   13|     B|
|   14|     B|
|   15|     B|
|   16|     B|
|   17|     B|
|   18|     B|
|   19|     B|
|   20|     B|
+-----+------+


Expected Output:
+------+----+----+----+----+----+----+----+----+----+----+
|marker|   A|   B|   C|   D|   E|   F|   G|   H|   I|   J|
+------+----+----+----+----+----+----+----+----+----+----+
|     B|NULL|  10|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|     C|NULL|NULL|  10|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|     A|  10|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|     E|NULL|NULL|NULL|NULL|  10|NULL|NULL|NULL|NULL|NULL|
|     D|NULL|NULL|NULL|  10|NULL|NULL|NULL|NULL|NULL|NULL|
|     F|NULL|NULL|NULL|NULL|NULL|  10|NULL|NULL|NULL|NULL|
|     G|NULL|NULL|NULL|NULL|NULL|NULL|  10|NULL|NULL|NULL|
|     H|NULL|NULL|NULL|NULL|NULL|NULL|NULL|  10|NULL|NULL|
|     J|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|  10|
|     I|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|  10|NULL|
+------+----+----+----+----+----+----+----+----+----+----+
"""

In [2]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("PivotExample").getOrCreate()

In [3]:
# Create sample data
data = [
    (1, 'A'), (2, 'A'), (3, 'A'), (4, 'A'), (5, 'A'),
    (6, 'A'), (7, 'A'), (8, 'A'), (9, 'A'), (10, 'A'),
    (11, 'B'), (12, 'B'), (13, 'B'), (14, 'B'), (15, 'B'),
    (16, 'B'), (17, 'B'), (18, 'B'), (19, 'B'), (20, 'B'),
    (21, 'C'), (22, 'C'), (23, 'C'), (24, 'C'), (25, 'C'),
    (26, 'C'), (27, 'C'), (28, 'C'), (29, 'C'), (30, 'C'),
    (31, 'D'), (32, 'D'), (33, 'D'), (34, 'D'), (35, 'D'),
    (36, 'D'), (37, 'D'), (38, 'D'), (39, 'D'), (40, 'D'),
    (41, 'E'), (42, 'E'), (43, 'E'), (44, 'E'), (45, 'E'),
    (46, 'E'), (47, 'E'), (48, 'E'), (49, 'E'), (50, 'E'),
    (51, 'F'), (52, 'F'), (53, 'F'), (54, 'F'), (55, 'F'),
    (56, 'F'), (57, 'F'), (58, 'F'), (59, 'F'), (60, 'F'),
    (61, 'G'), (62, 'G'), (63, 'G'), (64, 'G'), (65, 'G'),
    (66, 'G'), (67, 'G'), (68, 'G'), (69, 'G'), (70, 'G'),
    (71, 'H'), (72, 'H'), (73, 'H'), (74, 'H'), (75, 'H'),
    (76, 'H'), (77, 'H'), (78, 'H'), (79, 'H'), (80, 'H'),
    (81, 'I'), (82, 'I'), (83, 'I'), (84, 'I'), (85, 'I'),
    (86, 'I'), (87, 'I'), (88, 'I'), (89, 'I'), (90, 'I'),
    (91, 'J'), (92, 'J'), (93, 'J'), (94, 'J'), (95, 'J'),
    (96, 'J'), (97, 'J'), (98, 'J'), (99, 'J'), (100, 'J')
]

# Create DataFrame
df = spark.createDataFrame(data, ["value", "marker"])

# Show the DataFrame
df.show()

+-----+------+
|value|marker|
+-----+------+
|    1|     A|
|    2|     A|
|    3|     A|
|    4|     A|
|    5|     A|
|    6|     A|
|    7|     A|
|    8|     A|
|    9|     A|
|   10|     A|
|   11|     B|
|   12|     B|
|   13|     B|
|   14|     B|
|   15|     B|
|   16|     B|
|   17|     B|
|   18|     B|
|   19|     B|
|   20|     B|
+-----+------+
only showing top 20 rows

In [6]:
import pyspark.sql.functions as fx

df1 = df.groupBy('marker').agg(fx.count('value').alias('counter'))
df1.show()

+------+-------+
|marker|counter|
+------+-------+
|     B|     10|
|     C|     10|
|     A|     10|
|     E|     10|
|     D|     10|
|     F|     10|
|     G|     10|
|     H|     10|
|     J|     10|
|     I|     10|
+------+-------+

In [7]:
df1.groupBy('marker').pivot('marker').agg(fx.first('counter')).show()

+------+----+----+----+----+----+----+----+----+----+----+
|marker|   A|   B|   C|   D|   E|   F|   G|   H|   I|   J|
+------+----+----+----+----+----+----+----+----+----+----+
|     B|NULL|  10|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|     C|NULL|NULL|  10|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|     A|  10|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|     E|NULL|NULL|NULL|NULL|  10|NULL|NULL|NULL|NULL|NULL|
|     D|NULL|NULL|NULL|  10|NULL|NULL|NULL|NULL|NULL|NULL|
|     F|NULL|NULL|NULL|NULL|NULL|  10|NULL|NULL|NULL|NULL|
|     G|NULL|NULL|NULL|NULL|NULL|NULL|  10|NULL|NULL|NULL|
|     H|NULL|NULL|NULL|NULL|NULL|NULL|NULL|  10|NULL|NULL|
|     J|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|  10|
|     I|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|  10|NULL|
+------+----+----+----+----+----+----+----+----+----+----+

In [8]:
df.groupBy('marker').pivot('marker').agg(fx.count('value').alias('counter')).show()

+------+----+----+----+----+----+----+----+----+----+----+
|marker|   A|   B|   C|   D|   E|   F|   G|   H|   I|   J|
+------+----+----+----+----+----+----+----+----+----+----+
|     B|NULL|  10|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|     C|NULL|NULL|  10|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|     A|  10|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|     E|NULL|NULL|NULL|NULL|  10|NULL|NULL|NULL|NULL|NULL|
|     D|NULL|NULL|NULL|  10|NULL|NULL|NULL|NULL|NULL|NULL|
|     F|NULL|NULL|NULL|NULL|NULL|  10|NULL|NULL|NULL|NULL|
|     G|NULL|NULL|NULL|NULL|NULL|NULL|  10|NULL|NULL|NULL|
|     H|NULL|NULL|NULL|NULL|NULL|NULL|NULL|  10|NULL|NULL|
|     J|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|  10|
|     I|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|  10|NULL|
+------+----+----+----+----+----+----+----+----+----+----+

In [4]:
df.createOrReplaceTempView('temp_df')

In [17]:
df2 =  spark.sql("""
        select * from 
          (select value, marker from temp_df)
        pivot(count(value) for marker in ('A','B','C','D','E','F','G','H','I','J'))
""")

df2.show()

+---+---+---+---+---+---+---+---+---+---+
|  A|  B|  C|  D|  E|  F|  G|  H|  I|  J|
+---+---+---+---+---+---+---+---+---+---+
| 10| 10| 10| 10| 10| 10| 10| 10| 10| 10|
+---+---+---+---+---+---+---+---+---+---+